.container {
  width: 100%;
  min-height: 100px;
}
.container div {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
.container .imgSong {
  width: 11%;
  min-height: 60px;
}
img {
  height: 60px;
  border-radius: 50%;
}
.container .description {
  width: 58%;
  padding-top: 6%;
  min-height: 60px;
  display: block;
}
.container .play {
  width: 7%;
  padding-top: 8%;
  min-height: 60px;
  display: block;
}
.gris {
  color: gray;
}
