.container {
  width: 100%;
  min-height: 100px;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .left {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 80%;
}
.container .imgSong {
  min-height: 60px;
}
.imgSong img {
  height: 60px;
  border-radius: 50%;
}
/* .container div {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}
.container .play {
  width: 7%;
  padding-top: 8%;
  min-height: 60px;
  display: block;
} */
.gris {
  color: gray;
}
